aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
cchardet==2.1.5
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
elasticsearch==7.5.1
fake-useragent==0.1.11
geographiclib==1.50
geopy==1.20.0
googletransx==2.4.2
idna==2.8
multidict==4.7.4
numpy==1.18.1
pandas==0.25.3
protobuf==3.11.2
pycares==3.1.1
pycparser==2.19
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
schedule==0.6.0
six==1.13.0
soupsieve==1.9.5
twint==2.1.11
urllib3==1.25.8
virtualenv==16.7.9
yarl==1.4.2
